
body{
    font-family: font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.div-font {
    font-size: 25px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.5);
        
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right,#f5af19,#f12711);
    color:ghostwhite;
    padding: 10px 30px ;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    }

    section{
        display: flex;
        margin-bottom: 1px;
    }

    .div-width{
        width: 40%;
        padding-top: 8%;
        padding-left: 7%;
    }

    #img-width{
        width: 80%;
        height: auto;
        padding-top: 10%;
        padding-right:20%;
    }

